<% for(var i=0; i < item.length; i++) { %>

    <tr>
        <td>
            <%= i + 1 %>
        </td>
        <td>
            <%= item[i].email%>
        </td>
        <td>
            <%= item[i].description%>
        </td>
        <td>
            <%= item[i].quantity %>
        </td>
        <td>
            <%= item[i].Date%>
        </td>
        <td>
            <%= item[i].Expiry_Date %>
        </td>
        <!-- <td><%= item[i].date%></td>
            <td><%= item[i].time%></td> -->
        <td>
            <% const check = item[i].Checkbox %>
             <% if (check === 'true') { %>
                <span class="text-gradient"><i class="fa-regular fa-square-check fa-lg"></i></i></span>
            <% } else { %>
                <span class="text-gradient"><i class="fa-regular fa-square fa-lg"></i></i></span>
           <%  }  %>
               
        </td>
    </tr>
    <% } %>
